.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.loading-icon {
  animation: spin 1s linear infinite;
  color: #000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
